.Search{
    position: relative;
}

.Search-input{
    display: flex;
    /* background-color: gray; */
    /* border: 1px solid blue; */
}
.Search-input input{
    background: none;
    outline: none;
}
.show-search{
    position:absolute;
    width: 75%;
    height: 390px;
    top: 60px;
    left: 120px;
    /* border: 2px solid red; */
    transition: .5s;
    color: white;
    
  
  }
  /* .search{
    width: 70% ;
    border: 2px solid brown;
  } */
  .Hero-search{
    display: flex;
  justify-content: space-between;
  margin-top:20px;
  border: 2px solid brown; 
  width:75%
  }
  .Hero-search img{
    width:100% ;
  height: 80%;
  }