.Search {
    position: relative;
  }
   
  .show-search {
    position: absolute;
    width: 75%;
    height: 390px;
    top: 60px;
    left: 120px;
    /* border: 2px solid red; */
    transition: 0.5s;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px;
  }
  
  .Hero-search {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* border: 2px solid brown; */
    width: 100%; 
    padding: 10px;
  }
  
  .Hero-search img {
    width: 100%;
    height: auto;
  }